## Refugee ships helping during the Spanish exile and the Spanish Civil War

This example uses a SPARQL query to retrieve the refugee ships helping during the Spanish exile and the Spanish Civil War.

This example shows how to use <a href="https://www.w3.org/TR/sparql11-query/">SPARQL</a> as a query language in Linked Open Data repositories.

### First of all, we init the SPARQLWrapper service with the SPARQL endpoint

In [3]:
from SPARQLWrapper import SPARQLWrapper

sparql = SPARQLWrapper("https://query.wikidata.org/sparql")

### Then we define our CONSTRUCT query to extract the metadata

In [6]:
sparql.setQuery("""
PREFIX wdt: <http://www.wikidata.org/prop/direct/>
PREFIX wd: <http://www.wikidata.org/entity/>

CONSTRUCT{
  ?ship wdt:P31 wd:Q697196 .
  ?ship wdt:P4813 ?idpares.
  ?ship rdfs:label ?shipLabel
}
WHERE {
  ?ship wdt:P31 wd:Q697196 .
  ?ship wdt:P4813 ?idpares.
  ?ship rdfs:label ?shipLabel . FILTER (lang(?shipLabel) = 'en') 
}
"""
)

### Finally, we serialise the result

In [9]:
results = sparql.queryAndConvert()
print(results.serialize())

@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix wd: <http://www.wikidata.org/entity/> .
@prefix wdt: <http://www.wikidata.org/prop/direct/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

wd:Q11696214 rdfs:label "Nyassa"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "123493"^^xsd:string .

wd:Q134521282 rdfs:label "Champlain"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "123763"^^xsd:string .

wd:Q134521348 rdfs:label "Colonial"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "123674"^^xsd:string .

wd:Q134521359 rdfs:label "Cuba"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "123667"^^xsd:string .

wd:Q134521371 rdfs:label "Flandre"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "123090"^^xsd:string .

wd:Q134521374 rdfs:label "Foz de Douro"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "123677"^^xsd:string .

wd:Q134521381 rdfs:label "Guinea"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "123678"^^xsd:string .

wd:Q134521385 rdfs:label "Iberia"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "123684"^^xsd:string .

wd:Q134521390 rdfs:label "Ipanema"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "123038"^^xsd:string .

wd:Q134521396 rdfs:label "Jaragua"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "141919"^^xsd:string .

wd:Q134521407 rdfs:label "Lasalle"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "123601"^^xsd:string .

wd:Q134521412 rdfs:label "Manuel Arn√∫s"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "123690"^^xsd:string .

wd:Q28517197 rdfs:label "Alsina"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "153631"^^xsd:string .

wd:Q3297717 rdfs:label "Massilia"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "123765"^^xsd:string .

wd:Q5484985 rdfs:label "Sinaia"@en ;
    wdt:P31 wd:Q697196 ;
    wdt:P4813 "122944"^^xsd:string .

### We can save the results to a file

In [12]:
with open("output/ships.ttl", "w") as text_file:
    text_file.write(results.serialize())

### We can also provide metadata about the extracted dataset using ontologies and controlled vocabularies

In [15]:
from rdflib import Graph, URIRef, Literal, Namespace
from rdflib.namespace import FOAF, RDF, DCTERMS, VOID, DC, SKOS, OWL
import datetime

In [17]:
domain = 'https://example.org/'

g = Graph()
g.bind("foaf", FOAF)
g.bind("rdf", RDF)
g.bind("dcterms", DCTERMS)
g.bind("dc", DC)
g.bind("void", VOID)
g.bind("skos", SKOS)
g.bind("owl", OWL)

schema = Namespace("https://schema.org/")
g.bind("schema", schema)

viaf = Namespace("https://viaf.org/viaf/")
g.bind("viaf", viaf)

wd = Namespace("http://www.wikidata.org/entity/")
g.bind("wd", wd)

In [19]:
dataset = URIRef(domain + "dataset/artists")

g.add((dataset, RDF.type, schema.Dataset))
g.add((dataset, schema.url, URIRef("https://www.cultura.gob.es/en/cultura/areas/archivos/mc/centros/cida/4-difusion-cooperacion/4-1-guias-de-lectura/guia-exilio-espanol-1939-archivos-estatales/barcos-exilio.html")))
g.add((dataset, schema.description, Literal("The refugee ships on which the Spanish exiles embarked were the silent witnesses to this colossal exodus.")))
g.add((dataset, schema.name, Literal("Exile ships")))
g.add((dataset, DC.title, Literal("Exile ships")))
g.add((dataset, schema.license, URIRef('https://creativecommons.org/publicdomain/zero/1.0/')))

now = datetime.datetime.now()
g.add((dataset, schema.dateCreated, Literal(str(now)[:10])))

Let's store the metadata generated

In [22]:
g.serialize(destination="output/metadata-ships.ttl")

### Finally we can analyse the metadata generated

In [25]:
input_file = "output/ships.ttl"
g = Graph().parse(input_file)

Let's check the number of properties

In [28]:
print('##### Number of properties:')

# Query the data in g using SPARQL
q = """
    SELECT (count(distinct ?prop) as ?properties)
    WHERE {
        ?s ?prop ?o .
    }
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["properties"])

##### Number of properties:
3

We can also check the total number of triples

In [31]:
print('##### Number of triples:')
    
# Query the data in g using SPARQL
q = """
    SELECT (COUNT(*) as ?triples) 
    WHERE { ?s ?p ?o } 
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["triples"])

##### Number of triples:
45